<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Blazor</a>
		<NavLink class="btn btn-outline-light" target="_blank" href="https://github.com/fiap-blazor/fiap-labblazor">
			<i class="bi bi-github"></i> Github
		</NavLink>
	</div>
</nav>
